<md-card class="flex-item category-card">
  
  <md-card-title>
    <md-toolbar style="border-radius: 5px 5px 5px 5px; background-color: #01579B; padding: 0;">
      <div style="width: 100%; padding: 25px;">Category</div>
      <button style="float: right; margin: 25px 25px -25px;" md-fab md-raised-button color="accent" (click)="openAddCategoryDialog()">
        <md-icon>add</md-icon>
      </button>
    </md-toolbar>  
  </md-card-title>

  <md-card-content>
      <div class="mat-elevation-z0">
          <md-table #table [(dataSource)]="dataSource">
        
            <!-- Column: Category Name column -->
            <ng-container mdColumnDef="name">
              <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
              <md-cell *mdCellDef="let row"> {{row.name}} </md-cell>
            </ng-container>
        
            <!-- Column: Number of items in category -->
            <ng-container mdColumnDef="numItems">
              <md-header-cell *mdHeaderCellDef># items </md-header-cell>
              <md-cell *mdCellDef="let row"> {{row.numItems}}</md-cell>
            </ng-container>

            <!-- Column: Actions -->
            <ng-container mdColumnDef="actions">
                <md-header-cell *mdHeaderCellDef>
                  
                </md-header-cell>
                <md-cell *mdCellDef="let row">
                  <button md-icon-button (click)="remove(row)">
                      <md-icon>delete</md-icon>
                  </button>
                </md-cell>
              </ng-container>
        
            <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *mdRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)"></md-row>
          </md-table>
          
        </div>
  </md-card-content>


  <md-card-footer>
  </md-card-footer>
</md-card>

