.menu-button {
    background-color: inherit;
    border: 0;
}

.menu-button i {
    color: white;
    background-color: inherit;
}

app-sidenav {
    height: 100%;
}

md-toolbar {
    background: #3f51b5;
    color: hsla(0,0%,100%,.87);
}