<md-card class="flex-item menu-card">
  
      <md-card-title>
        <md-toolbar style="border-radius: 5px 5px 5px 5px; background-color: #01579B; padding: 0;">
          <div style="width: 100%; padding: 25px;">Menu</div>
          <button style="float: right; margin: 25px 25px -25px;" md-fab md-raised-button color="accent" (click)="openAddMenuDialog()">
            <md-icon>add</md-icon>
          </button>
        </md-toolbar>  
      </md-card-title>
  
      <md-card-content>
         <md-tab-group class="menu-tab-group">
           <md-tab *ngFor="let cat of categories; let i = index" [label]="cat.name">
             <app-menu-view 
                [menus]="menus[i]"
                (onDelete)="removeMenu($event)"></app-menu-view>
           </md-tab>
         </md-tab-group>
      </md-card-content>
    
    
      <md-card-footer>
      </md-card-footer>
    </md-card>