<div class="container">
  <md-tab-group class="config-tab-group">
    <md-tab label="Category">
      <app-category [categories]="categories" 
        (onCreate)="createCategory($event)"
        (onDelete)="deleteCategory($event)"
        (onUpdate)="updateCategory($event)"></app-category>
    </md-tab>
    <md-tab label="Ingredient">
      <app-ingredient 
        [categories]="categories"
        [ingredients]="ingredients"
        (onDelete)="removeIngredient($event)"
        (onUpdate)="updateIngredient($event)"
        (onCreate)="createIngredient($event)"></app-ingredient>
    </md-tab>
    <md-tab label="Menu">
      <app-menu
        [categories]="categories"
        [menus]="menus"
        (onDelete)="removeMenu($event)"
        (onCreate)="createMenu($event)"
      ></app-menu>
    </md-tab>
  </md-tab-group>
</div>
